asn1crypto==1.3.0
attrs==19.3.0
base58==0.2.5
bitcoinX==0.2.3
bitsv==0.11.0
bsvbip32==0.0.1
cashaddress==1.0.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
coincurve==13.0.0
electrumsv-secp256k1==0.9.1
Flask==1.1.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mnemonic==0.19
numpy==1.18.1
pkg-resources==0.0.0
polyglot-bitcoin==0.0.3
pyaes==1.6.1
pycoin==0.80
pycparser==2.20
python-bitcoinrpc==1.0
requests==2.23.0
urllib3==1.26.5
Werkzeug==1.0.0
whatsonchain==0.0.3
